.add-product-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
}

.form-title {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: rgb(0, 117, 241);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-row {
    display: flex;
    gap: 10px;
}

.form-actions {
    display: flex;
    gap: 10px;
}

/* Buttons */
.btn {
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: rgb(4, 89, 179);;
    color: white;
}

.btn-primary:hover {
    background-color: rgb(1, 90, 186);;
}

.btn-secondary {
    background-color: #ccc;
    color: #333;
}

.btn-secondary:hover {
    background-color: #bbb;
}